<div id="aside">
	<ul>
		<li class="menu01">
	    	<a href="#none">작업 관리</a>
	        <ul class="menu02">
	        	<li>
	            		<a href="#none">작업 지시 목록</a>
				</li>
	            <li>
	            	<a href="#none">작업 지시 등록</a>
				</li>
			</ul>
		</li>
	
		<li class="menu01">
	    	<a href="#none">완제품 재고 관리</a>
	        <ul class="menu02">
	        	<li>
					<a href="#none">완제품 재고 목록</a>
	            </li>
	            <li>
					<a href="#none">완제품 재고 등록</a>
	            </li>
			</ul>
		</li>
	                
		<li class="menu01">
			<a href="#none">출고 관리</a>
	        <ul class="menu02">
	        	<li>
	                            <a href="#none">출고 목록</a>
	            </li>
			</ul>
		</li>
	
	    <li class="menu01">
	    	<a href="#none">자재 재고 관리</a>
	        <ul class="menu02">
	        	<li>
	            	<a href="#none">자재 재고 목록</a>
	            </li>
	    	</ul>
	    </li>
	
		<li class="menu01">
			<a href="#none">거래처 관리</a>
	        <ul class="menu02">
	        	<li>
	            	<a href="#none">거래처 목록</a>
	            </li>
			</ul>
	    </li>
	                
		<li class="menu01">
	    	<a href="#none">마이페이지</a>
		</li>
	</ul>
</div>